name: Generate Snake

on:
  schedule:
    - cron: "0 3 */7 * *" # every 7 Days at 3:00
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: zjzjzjzj1874
          outputs: |
            ./assets/github-contribution-grid-snake.svg
            ./assets/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to Github
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Choreï¼šGenerate Contribution Snake'
          author_name: zjzjzjzj1874
          author_email: zjzjzjzj1874@gmail.com
          commit: --signoff

